.section {
  height: 100vh;
}

body:has(.section) {
  background: var(--game-background);
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-start;
  justify-content: center;

  @include lg {
    align-content: flex-start;
    justify-content: space-between;
    min-width: 112rem;
  }
}
.progressbar {
  position: absolute;
  left: 0;
  top: 0;
  height: 0.625rem;
  width: 100%;
  background-color: #fff;

  &::after {
    content: '';
    display: block;
    height: 100%;
    width: 40%;
    background: var(--blue-dianne);
  }
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  padding-top: 0;
  width: 100%;
  margin-top: 2rem;

  @include xl {
    margin-top: 4rem;
  }

  h4 {
    @include md {
      max-width: 100%;
      margin-bottom: 9rem;
    }
  }
}

.image {
  margin-top: 4rem;
  max-width: 290px;

  @include sm {
    max-width: 60%;
  }

  @include md {
    margin-top: 0;
  }

  @include lg {
    margin-top: 4rem;
  }
}

.monsterList {
  margin-top: 4rem;
}

.monsterListItem {
    font-size: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 19rem;
    margin-bottom: 1rem;

    @include sm {
      font-size: 1.2rem;
      width: 28rem;
    }

    @include md {
      font-size: 1.5rem;
      width: 34rem;
    }

    @include lg {
      font-size: 2rem;
      width: 46rem;
    }

    @include xl {
      font-size: 2rem;
      width: 46rem;
      margin-left: 6rem;
    }
  }


.monsterListImage {
    width: 36px;

    @include md {
        width: auto;
    }
  }
