.main-menu {
  width: 100vw;
  height: 100vh;
  background-image: url('/images/main-menu_background.png');
  background-position: 50% 75%;
  background-size: cover;
  padding: 5.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 4.875rem;

  &_title {
    background: linear-gradient(#595b9e 46%, #bfa8ce, #4396b5 80%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    filter: drop-shadow(0.5rem 0.5rem #2f464a);
    letter-spacing: -0.5rem;

    @include xl {
      padding-top: 50px;
    }

  }

  &_buttons {
    text-align: center;
    margin-bottom: 6rem;
  }
}
